header{
    background-color: purple
}

a {
    color: orange;
    text-decoration: none;
    padding: 0.8em;
    display: inline-block;
}

a:hover{
    background-color: orange;
    color: purple
}

nav {
    display: flex;
    justify-content: space-evenly;
}